@use "./normalize.scss";

* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}
body {
  //background-color: black;
}
h1 {
  text-align: center;
  background-color: #feae73;
  color: #696752;
  border: 10px double #696752;
  padding: 7px;
  border-radius: 7px;
  margin: 10px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
  height: 70vh;
  width: calc(100% - 20px);
  //border: 1px solid red;
}
.input-area {
  border: 4px solid #696752;
  border-radius: 10px;

  label {
    font-weight: bold;
    font-size: x-large;
    padding: 10px 10px 10px 10px;
    display: block;
    background-color: #e7eee7;
    color: #696752;
  }
}

.container {
  //border: 4px solid rebeccapurple;
  display: flex;
  textarea {
    //white-space: pre;
    font-size: x-large;
    z-index: 1;
    //border: 2px solid orange;
    position: fixed;
    background: transparent;
    height: calc(70vh - 50px);
    width: calc(50% - 25px);
    resize: none;
    //color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    caret-color: blue;
  }
  div {
    white-space: pre;
    font-size: x-large;
    z-index: -1;
    //border: 2px solid blue;
    position: fixed;
    height: calc(70vh - 50px);
    width: calc(50% - 25px);
    max-height: calc(70vh - 50px);
    max-width: calc(50% - 25px);
    color: #006955;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    //color: transparent;
    text-wrap: wrap;
    background-color: beige;
  }
}
footer {
  text-align: right;
  font-weight: bold;
  margin: 10px;
  color: #696752;
}
.invalid {
  color: #d64e52;
}
